.h5p-eta.h5p-element {
  overflow: visible;
}

.h5p-eta {
  display: flex;
  flex-flow: column;
  height: 100%;
  position: absolute;
  width: 100%;
}

.h5p-eta .h5p-theme-input {
  resize: none !important;
  height: 100%;
  font-size: var(--h5p-theme-font-size-m);
  font-family: var(--h5p-theme-font-name);
}

.h5p-eta p {
  color: var(--h5p-theme-text-secondary);
  font-size: var(--h5p-theme-font-size-m);
  /* !important needed to override CP */
  margin: var(--h5p-theme-spacing-xxs) 0 !important;
  font-weight: bold;
}

/* Inside CP popup */
.h5p-course-presentation .h5p-element-button-element.h5p-eta {
  box-sizing: border-box;
  padding: var(--h5p-theme-spacing-m);
  background-color: var(--h5p-theme-ui-base);
}