.h5p-eta.h5p-element {
  overflow: visible;
}

.h5p-eta {
  display: flex;
  flex-flow: column;
  height: 100%;
  position: absolute;
  width: 100%;
}

.h5p-eta .h5p-theme-input {
  resize: none !important;
  height: 100%;
}

.h5p-eta .h5p-theme-question-description {
  overflow: hidden;
  padding: 0.375em 0.5em;
  flex: none;
}
.h5p-eta .h5p-theme-question-description p{
  font-weight: 600;
}
.h5p-eta .h5p-theme-question-description p:last-child {
  margin-bottom: 0;
}
